<header class="navigation">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <img src="/img/logo.gif" alt="Logo Image">
    </a>
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">

    </div>
    <div class="navigation-tools">
      <% if env['warden'].authenticated? %>
        <ul id="navigation-menu">
          <li class="nav-link"><a href="/">About</a></li>
          <% if env['warden'].user.is_admin? %>
            <li class="nav-link"><a href="/protected/siteconfig"><i class="fa fa-list-alt"></i> Administrative Admin</a></li>
          <% end %>
          <% if env['warden'].user.is_rectangle? %>
            <li class="nav-link"><a href="/protected/rectangle"><i class="fa fa-square"></i> Rambunctious Rectangle </a></li>
          <% end %>
          <% if env['warden'].user.is_circle? %>
             <li class="nav-link"><a href="/protected/circle"><i class="fa fa-circle"></i> Crazy Circle</a></li>
          <% end %>
          <li class="nav-link more"><a href="javascript:void(0)"><i class="fa fa-user"></i> <%= env['warden'].user.username %></a>
          <ul class="submenu">
            <li><a href="/protected/pwupdate"><i class="fa fa-cog"></i> Change Password</a></li>
            <li><a href="/auth/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
          </ul>
        </li>
        </ul>
      <% else %>
        <ul id="navigation-menu">
          <li class="nav-link"><a href="/">About</a></li>
        </ul>
        <a href="/auth/login" class="sign-up default">Login</a>
      <% end %>

    </div>
  </div>
</header>
