<form class="form-signin" role="form" action="" method="post">
        <h2 class="form-signin-heading">Enter email</h2>
        <div class="fancy-lock"><i class="fa fa-lock fa-6"></i></div>
        <input name="user[username]" type="email" class="form-control" placeholder="email" required="" autofocus="">
        <button class="" type="submit">Continue</button>
</form>
