
<div class="login-container">
    <form class="form-signin" role="form" action="/auth/forgot" method="post">
            <h2 class="form-signin-heading">Enter your account name</h2>
            <p>An email with the instructions for resetting your password will be sent.</p>
            <input name="user" type="text" class="form-control" placeholder="username" required="" autofocus="">
            <button class="" type="submit">Continue</button>
    </form>
</div>
