

<% if flash.success %>
    <div class="flash-success">
      <span><%= flash.success %></span>
    </div>
<%end %>



<% if flash.error %>
    <div class="flash-error">
      <span><%= flash.error %></span>
    </div>
<%end %>


<div class="intro-text">
  <h2>Fancy Lab5</h2>
  <h4>This is the final project for GTI619, so it better be pretty fancy.</h4>
  <p>This is a simple database and authentification application. It's main foundation is Sinatra and Warden. The former is a micro web framework written in Ruby, the latter is a general Rack authentification framework. Bourbon and family was used as the drapes for this site. This app is supposed to be secure</p>
<br>
  <p>If this site breaks, we're terrible.</p>
</div>
