
<div class="login-container">
    <h3>Password has been set!</h3>
    <p>The following temporary password has been set to <%= @s_user.username %> : <strong><%= @password%></strong></p>
    <p>An email has also been sent with the new temporary password. <br><strong>This password is only valid for 1 day.</strong></p>
</div>



